# Arquivos e diretórios específicos para C#

## Arquivos de compilação
*.exe
*.dll
*.pdb

## Arquivos gerados automaticamente
obj/
bin/

## Diretório de dependências do NuGet
packages/

## Outros arquivos e diretórios gerados
*.user
*.vs
